{% extends 'layout.html' %} {% block body %}
<!------------------------ Site Title ---------------------->

<section class="site-title">
    <div class="site-background" data-aos="fade-up" data-aos-delay="100">
        <h1>Amazing blog</h3>
            <p>This is a gorgeous and eye-catching creative blog website template. We make use of the Flask framework to build fast and simple websites. This template provides everything you need for a blog website, so you don't have to start from scratch. It's also easily extendible, so if you come across any unique features you'd like to add, go ahead and do so. Don't be hesitant; it ensures a positive experience for both the programmer and the user.</p>
    </div>
</section>

<!------------x----------- Site Title ----------x----------->

<!------------------------- Main Content ----------------------------->

<div class="main-content">
    <div class="left-column">

    </div>
    <div class="right-column">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget nunc euismod, porttitor nisl eu, congue nunc. Nullam euismod, nisl eu porttitor congue, nisl nunc euismod purus,
        </p>

    </div>
</div>

<!----------------------------- Main Content ----------------------------->

{% endblock %}