<footer>
    <div class="footer-content">
      <div class="footer-column">
        <h3>Amazing blog</h3>
        <p>This is a gorgeous and eye-catching creative blog website template.
          We make use of the Flask framework to build fast and simple websites.
          This template provides everything you need for a blog website, so you don't have to start from scratch.
          It's also easily extendible, so if you come across any unique features you'd like to add, go ahead and do so.
          Don't be hesitant; it ensures a positive experience for both the programmer and the user.</p>
      </div>
      <div class="footer-column footer-middle-column">
        <h3>Contact</h3>
        <p>
          <i class="icon icon-address"></i>
          <span>Address:</span>
          <span>123 Street Name, City, Country</span>
        </p>
        <p>
          <i class="icon icon-phone"></i>
          <span>Phone:</span>
          <span>+1 (123) 456-7890</span>
        </p>
        <p>
          <i class="icon icon-email"></i>
          <span>Email:</span>
          <span>company-email@domain.com</span>
        </p>
      </div>
      <div class="footer-column">
        <a href="#"><i class="icon icon-facebook"></i></a>
        <a href="#"><i class="icon icon-twitter"></i></a>
        <a href="#"><i class="icon icon-instagram"></i></a>
        <a href="#"> <i class="icon icon-youtube"></i></a>
        <p class="copyright">Company Name © 2022</p>
      </div>
    </div>
  </footer>